<div class="container">
  <div class="header">
    <mat-toolbar color="primary">
      <img src="../assets/coronavirus.png" height="50px" />
      <span class="title">Informações diárias sobre os números totais da COVID-19 no Brasil</span>
      <div class="buttons-container">
        <a href="https://www.linkedin.com/in/ademir-rodrigues-da-silva-517a0b65/" target="_blank"><i
            class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/AdemirSJRP/" target="_blank"><i class="fa fa-2x fa-github-square"
            aria-hidden="true"></i></a>
      </div>
    </mat-toolbar>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <cov-footer></cov-footer>
</div>
